<h1> Alumnos <small> en general </small> </h1>
<hr>
<div class="card-columns">
<div class="card" *ngFor="let student of students; let i = index;">
    <img class="card-img-top img-fluid" [src]="student.img" [alt]="student.nombre">
    <div class="card-block">
      <h4 class="card-title">{{ student.nombre }}</h4>
      <p class="card-text">{{ student.descripcion }}</p>
      <p class="card-text"><small class="text-muted">{{ student.ciudad }}</small></p>
      <button (click)="showStudent(i);" type="button" class="btn btn-outline-primary btn-block">
        Ver mas...
      </button>
      <!--<a [routerLink]="['/about', i]" class="btn btn-outline-primary btn-block"> Ver mas link... </a>-->
    </div>
  </div>
</div>
